.section-main {
    min-height: 105vh;
    height: 900px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 184px;
    box-sizing: border-box;
}

.above-the-fold {
    height: 490px;
    width: 100%;
    max-width: 1000px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upper-half {
    width: 100%;
    height: 50%;
    font-size: 64px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.user-image-div {
    height: 250px;
    width: 190px;
    background-color: white;
    margin-left: 24px;
    margin-bottom: 24px;
    transform: rotate(10deg);
    transform-origin: top left;
}

.lower-half {
    width: 100%;
    padding-top: 24px;
    height: 50%;
    font-size: 64px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;

    >button {
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        border: 2px solid white;
        border-radius: 24px;
        height: 48px;
        padding: 0 16px;
        border-bottom: 6px solid white;
        border-right: 6px solid white;
        transform: translateY(0),
            translateY(0);
        transition:
            transform 0.1s ease-in-out,
            background-color 0.1s ease-in-out,
            border-bottom 0.1s ease-in-out,
            border-right 0.1s ease-in-out;
        &:hover {
            cursor: pointer;
            transform: translateY(2px),
                translateY(2px);
            background-color: #FF7F50;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
        }
    }
}

.letter {
    display: inline-block;
    width: 1ch;
    text-align: center;
    transition: ease-in-out transform 0.3s, color 0.3s;
    font-size: 128px;
}

.lower:hover {
    text-transform: uppercase;
    transform: scale(1.2);
    color: rgb(237, 193, 40);
}

.upper:hover {
    text-transform: lowercase;
    transform: scale(1.2);
    color: rgb(237, 193, 40);
}

.top-left {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 150px;
    position: relative;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border: 2px solid white;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 18px !important;
    cursor: pointer;
    overflow: visible;
    transition:
        width 0.4s ease-in-out,
        background 0.3s ease,
        border-color 0.3s ease,
        padding-right 0.3s ease;

    &__icon {
        position: absolute;
        top: 50%;
        right: 1rem;
        width: 1.25rem;
        height: auto;
        transform: translateY(-50%) translateX(0) rotate(0deg);
        opacity: 0;
        transition:
            opacity 0.3s ease,
            transform 1s ease-in;
    }

    &:hover {
        padding-right: 3rem;
        border: 2px solid white;

        & .btn__icon {
            opacity: 1;
            transform: translateY(-50%) translateX(20px) rotate(540deg);
            transition:
                opacity 0.3s ease,
                transform 0.5s ease-out;
        }
    }
}

.btn__text--default {
    display: inline-block;
    transition: opacity 0.3s ease;
}

.btn__text--hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btn__icon {
    position: absolute;
    overflow: visible;
    top: -24px;
    right: 1rem;
    transform: translateY(-50%);
    width: 2rem;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease,
        transform 0.5s ease;
}

.btn:hover {
    background: #247AFF;
    padding-right: 3rem;
    width: 250px !important;
}

.btn:hover .btn__text--default {
    opacity: 0;
}

.btn:hover .btn__text--hover,
.btn:hover .btn__icon {
    opacity: 1;
    z-index: 10;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 72px;

    >a {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 48px;
        margin: 0 0 8px 8px;
        overflow: hidden;
        border-radius: 50%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #247AFF;
            transform-origin: top;
            transform: scaleY(0);
            transition: transform 0.4s ease-in-out;
        }

        &:hover::before {
            transform: scaleY(1);
        }

        >img {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }
}