.skill-section {
    display: flex;
    justify-content: center;
}

.about-me {
    position: relative;
    padding: 144px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 720px;
    box-sizing: border-box;
}

.features {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    position: relative;
    height: 400px;
}

.feature-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-size: cover;
    background-color: transparent;
    z-index: 3;
    height: 152px;
    width: 560px;
    transform: rotate(-2deg);
    transform-origin: center center;
}

.feature-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    background-size: cover;
    background-color: transparent;
    z-index: 2;
    height: 152px;
    width: 560px;

    >img {
        top: 20px;
    }
}

.feature-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    background-color: transparent;
    background-size: cover;
    z-index: 1;
    height: 175px;
    width: 560px;
    transform: rotate(2deg);
    transform-origin: center center;
}

.banner-text0 {
    height: 48px;
    display: flex;
    transform: rotate(-6deg);
    transform-origin: center center;
    font-size: 24px;

    >img {
        padding-right: 8px;
        width: 40px;
        height: 40px;
    }

    >p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.banner-text1 {
    height: 48px;
    display: flex;
    transform-origin: center center;
    font-size: 24px;

    >img {
        padding-right: 8px;
        width: 40px;
        height: 40px;
    }

    >p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.banner-text2 {
    height: 48px;
    display: flex;
    align-items: center;
    transform: rotate(5deg);
    transform-origin: center center;
    padding-top: 12px;
    font-size: 24px;

    >img {
        padding-right: 8px;
        width: 40px;
        height: 40px;
    }

    >p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.content {
    height: 432px;
    width: 560px;
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    flex-direction: column;

    >div:nth-child(1) {
        >div:nth-child(1) {
            gap: 4px;
            font-size: 20px;
            font-weight: 500;
        }

        div:nth-child(2) {
            position: relative;
            gap: 4px;
            font-size: 64px;
            font-weight: bold;
            padding-bottom: 16px;
        }

        div:nth-child(2)>img {
            position: absolute;
            bottom: 4px;
            left: -8px;
            width: 303px;
            height: 20px;

            mask-image: linear-gradient(to right, black 0%, black 100%);
            -webkit-mask-image: linear-gradient(to right, black 0%, black 100%);
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-size: 200% 100%;
            -webkit-mask-size: 200% 100%;

            animation: draw-line 2s ease-in-out infinite alternate;
        }
    }

    @keyframes draw-line {
        0% {
            mask-position: 200% 0;
            -webkit-mask-position: 200% 0;
        }

        100% {
            mask-position: 0 0;
            -webkit-mask-position: 0 0;
        }
    }

    >div:nth-child(2) {
        >div:nth-child(1) {
            font-size: 20px;
            font-weight: 400;
        }
    }

    >div:nth-child(3) {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        >a {

            >button {
                font-size: 20px;
                font-weight: 500;
                background-color: rgba(0, 0, 0, 0);
                border: 2px solid rgb(0, 0, 0);
                border-radius: 24px;
                height: 48px;
                padding: 0 16px;
                border-bottom: 6px solid rgb(0, 0, 0);
                border-right: 6px solid rgb(0, 0, 0);
                transform: translateY(0),
                    translateX(0);
                transition:
                    transform 0.1s ease-in-out,
                    background-color 0.1s ease-in-out,
                    border-bottom 0.1s ease-in-out,
                    border-right 0.1s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: white;
                    transform: translateY(2px),
                        translateX(1px);
                    background-color: #FF7F50;
                    border-bottom: 2px solid rgb(0, 0, 0);
                    border-right: 2px solid rgb(0, 0, 0);
                }
            }
        }
    }
}

@media (max-width: 1380px) {
    .feature-0 {
        width: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 36px;
    }

    .feature-1 {
        width: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 110px;
    }

    .feature-2 {
        width: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 170px;
        height: 134px;
    }

    .banner-text0 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .banner-text1 {
        font-size: 20px;
    }

    .banner-text2 {
        font-size: 20px;
        margin-bottom: 2px;
    }

    .content {
        padding: 24px;
        box-sizing: border-box;
    }
}

@media (max-width: 1380px) {
    .about-me {
        padding: 100px 60px;
    }
}

@media (max-width: 1000px) {
    .about-me {
        flex-direction: column-reverse;
        padding: 0 24px 60px 24px;

    }

    .content {
        width: 100%;


        >div:nth-child(3) {
            >a {
                >button {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .about-me {
        height: 700px;
        padding: 0px;
    }

    .content {
        height: 500px;
        padding: 16px;

        >div:nth-child(1) {
            width: 60%;

            >div:nth-child(1) {
                font-size: 16px;
            }

            >div:nth-child(2) {
                font-size: 32px;

                >img {
                    width: 180px;
                    height: 12px;
                }
            }

        }
    }

    .feature-0 {
        width: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 36px;
    }

    .feature-1 {
        width: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        height: 110px;
        top: 92px;
    }

    .feature-2 {
        width: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 133px;
        height: 134px;
    }

    .banner-text0 {
        font-size: 16px;
        margin-bottom: 67px;
        display: flex;
        align-items: center;

        >img {
            height: 30px;
            width: 30px;

        }
    }

    .banner-text1 {
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        >img {
            height: 30px;
            width: 30px;

        }
    }

    .banner-text2 {
        font-size: 16px;
        margin-bottom: 2px;
                display: flex;
        align-items: center;
        margin-bottom: 40px;
        >img {
            height: 30px;
            width: 30px;

        }
    }
}