<section class="skill-section" id="aboutMeSection">
    <div class="about-me">
        <div class="features">
            <div *ngFor="let item of data; let i = index" class="feature-{{ i }}"
                [style.backgroundImage]="'url(' + item.pathBanner + ')'">
                <div class="banner-text{{ i }}">
                    <img [src]="item.pathIcon" alt="{{ item.content }}" />
                    <p>{{ 'ABOUT_ME.FEATURES.' + i | translate }}</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div>
                <div>{{ 'ABOUT_ME.CONTENT.WHO' | translate }}</div>
                <div>{{ 'ABOUT_ME.CONTENT.TITLE' | translate }}
                    <img src="assets/images/content/about-me-underline.png" alt="">
                </div>
            </div>
            <div>{{ 'ABOUT_ME.CONTENT.MOTIVATION' | translate }}
            </div>
            <div>
                <a href="#sectionContact"><button>{{ 'ABOUT_ME.CONTENT.BUTTON' | translate }}</button></a>
            </div>
        </div>
    </div>
</section>