section {
    display: flex;
    justify-content: center;

    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 100%;
        max-width: 1440px;
        padding: 0 8px;
        box-sizing: border-box;

        >img {
            width: 96px;
            height: 92px;
            cursor: pointer;
              &:hover {
            filter: brightness(0) saturate(100%) invert(88%) sepia(10%) saturate(3902%) hue-rotate(345deg) brightness(98%) contrast(98%);
        }
        }

        >a {
            box-sizing: border-box;
            position: relative;
            display: inline-block;
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
            transition: color 0.3s;
            font-size: 18px;
        }

        >a.draw-link {
            svg.circle-svg {
                position: absolute;
                top: -33%;
                left: -62%;
                width: 220%;
                height: 160%;
                pointer-events: none;
            }

            path {
                fill: none;
                stroke: #ffcc33;
                stroke-width: 4;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                transition: stroke-dashoffset 0.8s ease;
            }

            &:hover path {
                stroke-dashoffset: 0;
            }
        }

        a.underline-link {
            position: relative;
            display: inline-block;

            svg.underline-svg {
                position: absolute;
                left: -25%;
                top: 80%;
                width: 150%;
                height: 100%;
                pointer-events: none;

                path {
                    fill: none;
                    stroke: #ffcc33;
                    stroke-width: 8;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 500;
                    stroke-dashoffset: 500;
                    transition: stroke-dashoffset 0.8s ease-out;
                }
            }

            &:hover svg.underline-svg path {
                stroke-dashoffset: 0;
            }
        }

        >a.fade-link.diag-link {
            position: relative;
            display: inline-block;

            svg.diag-svg {
                position: absolute;
                left: -10%;
                top: 70%;
                width: 130%;
                height: 20px;
                pointer-events: none;
                transform-origin: left bottom;
                transform: rotate(-8deg);

                path {
                    fill: none;
                    stroke: #ffcc33;
                    stroke-width: 6;
                    stroke-linecap: round;
                    stroke-dasharray: 500;
                    stroke-dashoffset: 500;
                    transition: stroke-dashoffset 0.8s ease-out;
                }
            }

            &:hover svg.diag-svg path {
                stroke-dashoffset: 0;
            }
        }

        >a.scale-link {
            position: relative;
            display: inline-block;

            svg.scale-svg {
                position: absolute;
                left: -25%;
                top: 30%;
                width: 150%;
                height: 30px;
                pointer-events: none;

                path {
                    fill: none;
                    stroke: #ffcc33;
                    stroke-width: 3;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-dasharray: 500;
                    stroke-dashoffset: 500;
                    transition: stroke-dashoffset 0.6s ease-out;
                }
            }

            &:hover svg.scale-svg path {
                stroke-dashoffset: 0;
            }
        }
    }

    .switcher {
        display: flex;
        align-items: center;

        span {
            cursor: pointer;
            font-weight: bold;
            font-size: 12px;
            color: white;
            transition: color 0.3s;
            padding: 0 4px;

            &.active {
                color: coral;
            }
        }

        .track {
            background: coral;
            width: 25px;
            height: 10px;
            border-radius: 10px;
            position: relative;
            cursor: pointer;
        }

        .circle {
            background: blue;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            top: -3px;
            left: 0;
            transition: left 0.3s;

            &.right {
                left: 12px;
            }
        }
    }
}