<section class="project-section" id="projectsSection">
    <div class="projects-grid">
        <div class="title-container">
            <div>{{ 'PROJECTS.TITLE' | translate }}</div>
            <div>
                <div class="headline">{{ 'PROJECTS.SUBTITLE' | translate }}
                    <img class="underline" src="assets/icons/underline-projects.png" alt="underline">
                </div>
            </div>
            <div>{{ 'PROJECTS.DESCRIPTION' | translate }}</div>
        </div>

        <div *ngFor="let project of projectsData; let i = index" class="project-item">
            <div class="image-wrapper{{i}}" (mouseenter)="onHoverStart(i)" (mouseleave)="onHoverEnd()">

                <div class="floater{{i}}">
                    <img [src]="project.img" [alt]="project.name" [ngClass]="'image' + i" />
                </div>

                <img *ngIf="i === 0" class="featured-project-icon" src="assets/icons/featured-project.png"
                    alt="Featured Project">

                <button class="projects-btn"
                (click)="showDetails(i)"
                *ngIf="isDesktop || hoveredIndex === i"
                [class.first-btn]="i === 0">
                    Project details
                </button>
            </div>

            <div>
                <div class="project-names">{{ 'PROJECTS.' + project.name | translate }}</div>
                <div class="project-description">{{ 'PROJECTS.' + project.name + '_DESCRIPTION' | translate }}</div>
            </div>
        </div>
    </div>
</section>