@use 'breakpoints' as bp;

@include bp.mq-down(bp.$bp-xl) {
    .project {
        background-image: url('/assets/images/projects-page/pollo-bg-mobile.png');
        background-position-y: top;
        padding-bottom: 32px;

        >.height {
            position: relative;

            >.locco-content {
                width: 100%;
                flex-direction: column;
                height: 100%;
                padding: 0 72px;

                .left {
                    width: 100%;
                    justify-content: flex-start;
                    height: auto;

                    >.description {
                        height: auto;
                    }

                    >.game-title {
                        >h1 {
                            margin: 16px 0 32px 0;
                            font-size: 48px;
                        }

                        >img {
                            bottom: 16%;
                        }
                    }
                }
            }

            >.back-container {
                position: absolute;
                bottom: 0;
                width: 50%;

                >.go-back {
                    color: white;
                }
            }
        }
    }

    .right {
        padding-top: 48px;

        >.btn-container {
            >.buttons {
                width: 100%;
            }
        }

        >.game-image {
            height: auto;
        }
    }
}

@include bp.mq-down(bp.$bp-lg) {
    .project {
        >.height {
            >.locco-content {
                padding: 0 16px;
            }
        }
    }
}

@include bp.mq-down(bp.$bp-md) {
    .project {
        background-size: 768px 150%;
        background-position: top;

        >.height {
            width: 100%;

            .locco-content {
                width: 100%;
            }

            >.back-container {
                padding: 0 8px;

                >.go-back {
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }

    .next-container {
        padding: 0 8px;

        >.next-project {
            &:hover {
                color: white;
            }
        }
    }

    .right {
        >.game-image {
            width: 100%;
            height: auto;
            max-width: 560px;
        }
    }

    .game-screenshot {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 11;
    }

}

@include bp.mq-down(bp.$bp-sm) {
    .project {
        >.height {
            >.locco-content {
                >.left {
                    >.description {
                        >.tech-icons {
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }
    }
}