.wrapper-background-image {
    background-image: url('../assets/images/content/above-the-fold-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}