<section class="imprint">
    <div class="bg-div">
        <div class="headline">
            <h1>{{ "IMPRINT.HEADLINE" | translate }}</h1>
        </div>
    </div>
    <div class="main-part">
        <div class="imprint-content">
            <p class="color-blue"><strong>{{ "IMPRINT.TITLE" | translate }}</strong></p>
            <p>
                Stephan Steiner<br>
                Feldbergstraße 17/1<br>
                71088 Holzgerlingen
            </p>

            <p><strong class="color-blue">{{ "IMPRINT.REPRESENT" | translate }}</strong><br>
                Stephan Steiner
            </p>

            <p><strong class="color-blue">{{ "IMPRINT.CONTACT" | translate }}</strong><br>
                {{ "IMPRINT.PHONE" | translate }} +49 178 1282865<br>
                E-Mail: <a href="mailto:stephan-steiner-dev@protonmail.com">stephan-steiner-dev&#64;protonmail.com</a>
            </p>

            <h2>{{ "IMPRINT.DISCLAIMER.DISCLAIMER" | translate }}</h2>

            <h3>{{ "IMPRINT.DISCLAIMER.LIABILITY1" | translate }}</h3>
            <p>
               {{ "IMPRINT.DISCLAIMER.LIABILITY1_CONTENT" | translate }}
            </p>

            <h3>{{ "IMPRINT.DISCLAIMER.LIABILITY2" | translate }}</h3>
            <p>
             {{ "IMPRINT.DISCLAIMER.LIABILITY2_CONTENT" | translate }}
            </p>

            <h3>{{ "IMPRINT.DISCLAIMER.COPYRIGHT" | translate }}</h3>
            <p>
                {{ "IMPRINT.DISCLAIMER.COPYRIGHT_CONTENT" | translate }}
            </p>

            <h3>{{ "IMPRINT.DISCLAIMER.DATA_PROTECTION" | translate }}</h3>
            <p>
                {{ "IMPRINT.DISCLAIMER.DATA_PROTECTION_CONTENT1" | translate }}
            </p>
            <p>
                {{ "IMPRINT.DISCLAIMER.DATA_PROTECTION_CONTENT2" | translate }}
            </p>
            <p>
                {{ "IMPRINT.DISCLAIMER.DATA_PROTECTION_CONTENT3" | translate }}
            </p>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</section>