.imprint {
    display: flex;
    flex-direction: column;
    overflow: visible;

    >.bg-div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 439px;
        background-image: url('../../assets/images/content/above-the-fold-bg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        >.headline {
            max-width: 1440px;
            width: 100%;
            padding-left: 120px;
            box-sizing: border-box;
        }
    }
}

h1 {

    font-size: 64px;
    font-style: bold;
    color: white;
    margin-bottom: 1rem;

}

h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: blue;
}

h3 {
    margin-top: 1.2rem;
    font-size: 1.2rem;
    color: blue;
}

.color-blue {
    color: blue;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.source {
    font-size: 0.9rem;
    margin-top: 2rem;
    color: gray;
}

.main-part {
    display: flex;
    justify-content: center;
    >.imprint-content {
        max-width: 1440px;
        padding: 0 120px;
        box-sizing: border-box;
        // display: flex;
        // flex-direction: column;
    }
}

.footer {
    background-image: url('../../assets/images/content/footer-bg.png');
    height: 250px;
    padding-top: 40px;
    box-sizing: border-box;
}