.circle-badge {
    position: relative;
    width: 168px;
    height: 168px;

    .badge-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .badge-text {
        box-sizing: border-box;
        padding: 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    .circle-text {
         font-family: 'BricolageGrotesque';
        font-weight: bold;
        font-size: 14.7px;
    }

    .badge-logo {
        position: absolute;
        width: 70%;
        height: auto;
        top: 15%;
        left: 15%;
        object-fit: contain;
        filter: brightness(0) saturate(100%) invert(0%) sepia(98%) saturate(11%) hue-rotate(351deg) brightness(98%) contrast(100%);
    }
}