.wrapper-background-image {
    background-image: url('../../assets/images/content/above-the-fold-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media only screen and (min-width: 1900px) {
    .wrapper-background-image {
        box-sizing: border-box;
        padding-bottom: 150px;
    }
}