<section class="form">
    <form (ngSubmit)="onSubmit()">
        <label for="name"></label>
        <input [(ngModel)]="contactData.name" type="name" id="name" name="name" placeholder="Your name...">

        <label for="email"></label>
        <input [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="YourEmail@email.com...">

        <label for="message"></label>
        <textarea [(ngModel)]="contactData.message" name="message" id="message"></textarea>

        <input type="submit" value="Submit">
    </form>
</section>