<section class="pollo-locco">
    <div class="height">
        <div class="back-container">
            <div class="go-back"><img src="../../../../assets/images/projects-page/orange-arrow.png" alt="back-arrow">
                Go
                Back</div>
        </div>
        <div class="locco-content">
            <div class="left">
                <div class="game-title">
                    <h1>El Pollo Loco</h1>
                    <img src="../../../../assets/images/projects-page/blue-underline.png" alt="">
                </div>
                <div class="description">
                    <h2>Description</h2>
                    <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco
                        salsa
                        to
                        fight against the crazy hen.</p>

                    <h2>Implementation Details</h2>
                    <p>Short text that describes your role or the workflow for this specific project. Let a recruiter
                        know
                        more
                        about your knowledge and ability to work independently or collaboratively in a structured way.
                    </p>

                    <div class="duration">Duration: 3 weeks</div>
                    <div class="tech-icons">
                        <img class="icons" src="../../../../assets/icons/JS-icon.png" alt="JavaScript">JavaScript
                        <img class="icons" src="../../../../assets/icons/HTML-icon.png" alt="HTML5">HTML
                        <img class="icons" src="../../../../assets/icons/CSS-icon.png" alt="CSS3">CSS
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="game-image">
                    <img class="game-screenshot" src="../../../../assets/images/content/Pollo.png"
                        alt="Game Screenshot">
                </div>
                <div class="btn-container">
                    <div class="buttons">
                        <a href="#">GitHub</a>
                        <a href="#">Live Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="next-container">
            <div class="next-project">Next Project <img src="../../../../assets/images/projects-page/yellow-arrow.png"
                    alt="arrow-next"></div>
        </div>
    </div>
</section>