<section class="pollo-locco">
    <div class="go-back">← Go Back</div>
    <div class="locco-content">
        <div class="left">
            <h1>El Pollo Loco</h1>

            <h2>Description</h2>
            <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa
                to
                fight against the crazy hen.</p>

            <h2>Implementation Details</h2>
            <p>Short text that describes your role or the workflow for this specific project. Let a recruiter know
                more
                about your knowledge and ability to work independently or collaboratively in a structured way.</p>

            <div class="duration">Duration: 3 weeks</div>
            <div class="tech-icons">
                <img src="../../../../assets/icons/JS-icon.png" alt="JavaScript">
                <img src="../../../../assets/icons/HTML-icon.png" alt="HTML5">
                <img src="../../../../assets/icons/CSS-icon.png" alt="CSS3">
            </div>
        </div>

        <div class="right">
            <div class="game-image">
                <img src="../../../../assets/images/content/Pollo.png" alt="Game Screenshot">
            </div>
            <div class="buttons">
                <a href="#">GitHub</a>
                <a href="#">Live Test</a>
            </div>
        </div>
    </div>
    <div class="next-project">Next Project <img src="../../../../assets/images/projects-page/orange-arrow.png" alt="arrow-back"></div>
</section>