@use 'breakpoints' as bp;

@include bp.mq-down(bp.$bp-lg - 0.02px) {
    :host .testimonials {
        >div:nth-child(1) {
            height: 1400px;
        }
    }

    :host .lower-content {
        height: 100% !important;
        flex-direction: column-reverse !important;
        align-items: center !important;
        margin-top: 40px;

        >.notice:nth-child(1) {
            position: relative !important;
            top: -24px !important;
        }

        >.notice:nth-child(2) {
            position: relative !important;
            left: 0 !important;
        }

        >.notice:nth-child(3) {
            position: relative !important;
            top: 48px !important;
        }
    }

    .testimonials {
        >div:nth-child(1) {
            >.lower-content {
                display: flex;
                flex-direction: row;
                position: relative;
                width: 100%;
                height: 402.82px;

                >.notice {
                    &::after {
                        display: none !important;
                    }

                    &:hover {
                        >div:nth-child(2) {
                            >div:nth-child(1) {
                                color: white;
                            }

                            >div:nth-child(2) {
                                color: white;
                            }

                        }
                    }

                    >div:nth-child(2) {
                        >a {
                            >img {
                                &:hover {
                                    filter: none;                               }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include bp.mq-down(bp.$bp-md - 0.02px) {
    :host .testimonials {
        >div:nth-child(1) {
            padding: 144px 16px;
        }
    }

    :host .upper-content {
        >div:nth-child(2) {
            text-align: right;
        }
    }

    :host .lower-content {
        height: 100% !important;

        >.notice:nth-child(1) {
            background-repeat: no-repeat !important;
        }

        >.notice:nth-child(2) {
            background-repeat: no-repeat !important;
        }

        >.notice:nth-child(3) {
            background-repeat: no-repeat !important;
        }
    }

    :host .notice {
        width: 400px !important;
        height: 275px !important;
        background-size: cover !important;
        border-radius: 16px !important;
        padding: 16px 8px 16px 8px !important;

        >div:nth-child(1) {
            width: 350px !important;
        }

        >div:nth-child(2) {
            width: 350px !important;
            align-items: flex-end !important;
        }
    }
}

@include bp.mq-down(bp.$bp-sm - 0.02px) {
    :host .notice {
        width: 90% !important;
        height: 550px !important;
        padding: 16px 0 32px 0 !important;

        >div:nth-child(1) {
            width: 90% !important;
        }

        >div:nth-child(2) {
            width: 90% !important;
        }
    }

    :host .colleagues-headline {
        font-size: 48px !important;
    }

    :host .lower-content {
        height: 100% !important;

        >.notice:nth-child(1) {
            height: 550px !important;
        }

        >.notice:nth-child(2) {
            height: 550px !important;


        }

        >.notice:nth-child(3) {
            height: 550px !important;

        }
    }

    :host .lower-content {
        height: 1160px;
        margin-top: 0;
    }

    .testimonials {
        >div:nth-child(1) {
            >.upper-content {
                >.arrow-text {
                    >img {
                        display: block;
                        width: 80px;
                    }
                }
            }
        }
    }
}

@include bp.mq-down(bp.$bp-xs - 0.02px) {
    .testimonials {
        >div:nth-child(1) {
            height: 1620px !important;
        }
    }
}