<section class="testimonials">
    <div>
        <div class="upper-content">
            <div class="arrow-text">
                <img src="../../assets/images/content/testimonials-arrow.png" alt="arrow">
                <div>{{ 'TESTIMONIALS.TITLE' | translate }}</div>
            </div>
            <div class="colleagues-headline">
                {{ 'TESTIMONIALS.SUBTITLE' | translate }}
            </div>
        </div>
        <div class="lower-content">
            <div class="notice" [ngClass]="" *ngFor="let item of comments; let i = index">
                <div>
                    <div>{{ "TESTIMONIALS.CONTENT." + i + ".COMMENT" | translate }}</div>
                </div>
                <div>
                    <div>
                        <div>{{ "TESTIMONIALS.CONTENT." + i + ".NAME" | translate }}</div>
                        <div>{{ item.profession }}</div>
                    </div>
                    <img src="../../assets/images/content/testimonials-linked-in-black.png" alt="linkedIN">
                </div>
            </div>
        </div>
    </div>
</section>