<section class="testimonials">
    <div>
        <div class="upper-content">
            <div class="arrow-text">
                <img src="assets/images/content/testimonials-arrow.png" alt="arrow">
                <div>{{ 'TESTIMONIALS.TITLE' | translate }}</div>
            </div>
            <div class="colleagues-headline">
                {{ 'TESTIMONIALS.SUBTITLE' | translate }}
            </div>
        </div>
        <div class="lower-content">
            <div class="notice" [ngClass]="" *ngFor="let item of comments; let i = index">
                <div>
                    <div>{{ "TESTIMONIALS.CONTENT." + i + ".COMMENT" | translate }}</div>
                </div>
                <div>
                    <div>
                        <div class="names">{{ item.name }}</div>
                        <div>{{ item.profession }}</div>
                    </div>
                    <a *ngIf="item.homepage !== ''" [href]="item.homepage" target="_blank" rel="noopener noreferrer">
                        <img [src]="item.image" alt="linkedIN">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>